header {
    padding: 18px 16px;
    background-color: rgb(222, 184, 135);
}

.header-inner {
    display:flex;
    align-items:center;
    gap:16px;
    margin:0;
}

.profile-pic {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    width: 96px;
    height: 96px;
    display: block;
}


.page-title {
    margin:0;
    font-family: 'Caveat', serif;
    font-size: 3rem;
    font-weight:700;
    color: black;

}

.side-nav {
    position: fixed;
    left:0;
    align-items: center;;
    border: 2px solid black;
    padding:10px;

}
.side-nav a {
    display:block;
    padding: 10px 14px;
    border-radius:8px;
    color: var(--muted);
    font-weight:600;
    text-align: left;
}

.side-nav a:hover,
.side-nav a:focus {
    background: burlywood;
    color: var(--accent);
    outline: none;
    width:120x;
}

body {
    margin:0;
}

footer {
    position: fixed;
    bottom:0;
    right:0;
    left:0;
    background-color: burlywood;
}