header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 100px;
    background-color: #2c2c5e;
    padding: 0.5rem 15%;
    color: white;

    border-radius: 1px solid black;
}

.page-title{
    position: fixed;
    top:0;
    left:70x;
    font-family:'Caveat',serif;
    color:white;
    font-weight: 400;
    font-size: 40px;
}

.profile-pic{
    width: 100px;
    height: 100px;
    position: fixed;
    left:25px; 

}

.side-nav {
    position: fixed;
    left: 0px;
    bottom: 0;
    border: 2px solid #2c2c5e;
    width: 150px;
    float: left;
    height: 625px;
    background-color: #2C2c5e;
    text-decoration: none;

}

.side-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;

}

body {
    background-color: #404070;
    margin: 0;
}

h2,
h3{
    text-align: left; 
    font-family:'Caveat',serif;
    color:white;
    font-weight: 400;
    font-size: 35px;
    line-height:1.5;
}

